<h1>SUCCESS!!!</h1>
<p>You have just signed in with FOOD-METER</p>

<p><strong>This is your username</strong></p>
<p><strong>Name:</strong><%= @user.name %></p>

<p>
<b>Email:</b>
<%= @user.email %>
</p>
<%= link_to "Home", root_path%>


