<h1 id="cf">Contact Information via Web Form</h1>

<dt class="firstE"><strong>Address:</strong></dt>

<dd>FOOD-METER Offices<br />

2745 Ligeia Street<br />
San Antonio, Texas
78249</dd>

<dt><strong>Email:</strong></dt>
<dd><a href="mailto:matt_gamble07@hotmail.com">matt_gamble07@hotmail.com</a></dd>

<dt><strong>Telephone:</strong></dt>
<dd>555-555-1234</dd>

<dt><strong>Toll free:</strong></dt>
<dd>800-555-8008</dd>


<dt><strong>Webmaster:</strong></dt>
<dd><a href="mailto:csmgamble@hotmail.com">csmgamble@hotmail.com</a></dd><br/>

<p>Information requested on this form is voluntary and of users own vendetta. This information is being collected and anaylized to provide additional information requested by you and assists us here in improving our Internet site, of products and services.  Personal information that you provide is protected under the provisions of the <em><a href="http://laws.justice.gc.ca/en/P-21/index.html">Privacy Act</a></em>. The Act provides you with a right of access to your information.</p>

<p>When you are commenting about a specific page on our website, please include the URL (Web address).</p>

<p><strong>If intrested in a quick response, please ensure us with your e-mail address.</strong></p>
<form method="post" action="">
	 
<div class="fc-tbx"><label for="subject">Topic<strong>(required)</strong></label><br />
	<input type="text" size="41" maxlength="400" name="subject" id="subject" /></div>
	
<div class="fc-tbx"><label for="Comments">Comments and Questions <strong>(required)</strong></label><br />

<textarea name="Comments" id="Comments" rows="11" cols="50" ></textarea></div>

<div class="fc-tbx"><label for="Name">Name</label><br />
 <input type="text" size="41" maxlength="400" name="Name" id="Name" /></div>
 
<div class="fc-tbx"><label for="Title">Title</label><br />
 <input type="text" size="41" maxlength="400" name="Title" id="Title" /></div>
 

<div class="fc-tbx"><label for="Organization">Organization</label><br />
 <input type="text" size="41" maxlength="400" name="Organization" id="Organization" /></div>

 
<div class="fc-tbx"><label for="email">E-mail address</label><br />
 <input type="text" size="41" maxlength="400" name="email" id="email" /></div>
 
<div class="fc-tbx"><label for="Telephone">Telephone</label><br />
 <input type="text" size="41" maxlength="400" name="Telephone" id="Telephone" /></div>

<div class="fc-tbx"><input type="submit" value="Submit" /> <input type="reset" value="Clear" /></div>
