<h1>Q. Is calorie a bad word?</h1>

<p>A. No, it’s not bad - just misunderstood! 
Most people who use the word calorie simply don’t 
know what it means. Also, in my experience, most 
people to go pale at the mere mention of the word. 
Based on those facts alone, I would eliminate calorie 
from the English vocabulary if I could.</p>


Article Source: http://www.article-voip.com