<h1>Frequently Asked Questions (F.A.Q.)</h1>


<h4>Q. What is a FOOD-METER?</h4>


<b>A.</b>
<p> A FOOD-METER lets you search for the
   food nutrition in a database and view the full nutritional content  (calories, carbs, fat, protein etc.)
	 of every single food that you eat or are ever thinking of eating. Having this information avaliable will 
	 help you to improve your weight, your health, and just your general knowledge of what you are putting into 
	 your body. </P>






<h4>Q. Is calorie a bad word?</h4>

<b>A.</b>
<p>No, it’s not at all just misunderstood! Most people who use the word calorie  don’t know what it means. 
Most people get scared at the mere notion of the word. </P>


<h4>Q. What exactly is a calorie?</h4>

<b>A.</b> 

<p>According to Merriam-Webster’s Collegiate Dictionary (11th edition), 
a calorie is “a unit equivalent to the large calorie expressing 
heat-producing or energy-producing value in food when oxidized in the body.” 
In other words, a calorie is a unit of energy released from  food you eat to power your body.</p>


<h4>Q. How are calories “burned”?</h4>

<b>A.</b> 
<p>The body needs energy from food—calories—to perform many functions, 
i.e. physical activity and exercise. However, 
the body also needs energy to function to do the most basic functions: to breathe, 
digest food, and maintain organs and systems.</p>


<h4>Q. How many calories should I eat each day?</h4>

<b>A.</b>  
<p>Short answer “enough.” The calories you consume must provide you with enough energy for 
your body to perform all necessary functions and activities—and bring about optimum health. 
The long answer is that the number of calories needed varies from person to person and depends
 on difrrent factors such as weight, amount of food consumed, sleep, stress and activity levels, age, and other 
 factors that affect metabolism. </p>


<h4>Q. Is it possible to eat too few calories?</h4>

<b>A.</b>  
<p>Yes you can. The most serious problem with low-calorie diets is that 
although they may be weight loss, it also can cause serious health problems. 
One common side effect of low-calorie diets is muscle breakdown, which can occur when 
the body doesn’t consume enough calories from protein. Especially vulnerable cause of this is the heart, 
a muscular organ. If a person does not consume a proper amount of calories each day, 
the heart muscle begins to breakdown, possibly leading to serious cardiac conditions (e.g., cardiac atrophy).</p>
