<h1>Help</h1>

<p>This is a help page.</p>


<h4>Q. Where Do I signin/signup?</h4>


<b>A.</b>
<p> On the right sid eof the website is the sign in and sign up link</p>





<h4>Q. How do i look up calories?</h4>

<b>A.</b>
<p>Sign in and it will redirect you to where you can look up calories of what you ate </P>


<h4>Q. How do i contact the company?</h4>

<b>A.</b> 

<p>On the bottom of the website is a footer with a link to our contact infromation</p>


