 <div class="center"id="banner"><h1 class="center" ><center>FOOD-METER</center></h1></div>



<p>This is just a prototype right now. Over time this website will be developed piece by piece. 
	Users will have the ability to look up food products and see how many calories a food item contains. 
	And then store them in the users own personal database</p>
	
	<p>As of right now i have set up the footer to send users to pages that contain the right information.
		And will have a basic sign up</p>


<li>
				<%= link_to "Home", root_path %>
			</li>
			<li>
				<%= link_to "Help", help_path %>
			</li>
			<li>
				<%= link_to "Sign up", signup_path %>
			</li>