<h1>PRIVACY POLICY</h1>
<p>FOOD-MET understands how important the privacy of personal 
	information is to our users. This Privacy Policy 
	will tell you what information we collect about 
	you and about your use of FOOD-MET  and its services. It 
	will explain the choices you have about how your personal
	 information is used and how we protect that information. 
	 We urge you to read this Privacy Policy carefully.

</p>