
<p>Apple
	Calories 93
	<br/></p>
	



			<% if signed_in? %>
<%= link_to "Carbs", s1_path %> 

<%= link_to "Veggies", s3_path %> 
<%= link_to "Dairy", s4_path %> 
<%= link_to "Meat", s5_path %> 
<% end %>