 <b><center><%= banner %></center></b>
	    <center><h15 class="center"><%= wordwithnumber(["The first soup was made of hippopotamus", 
	   	"Refried beans are only fried once", 
	   	"Apples are a member of the rose family",
	   	"Microwave cooking was discovered accidentally, when a chocolate bar melted in someone’s pocket",
	   	"The Popsicle was invented by an 11 year who kept it secret for 18 years.",
	   	"Dynamite is made with peanuts",
	   	"McDonald's feeds more than 46 million people a day - more than the entire population of Spain",
	   	"The first pizzas were just dough and tomato sauce - no cheese",
	   	"China produces more apples than any other country",
	   	"Lettuce is a member of the sunflower family",
	   	"Pizza hut are the world's largest user of cheese",
	   	"The only apple native to North America is the crabapple",
	   	"The average American consumes 28 pounds of bananas per year",
	   	"The most pizzas are delivered (and eaten) on New Year's Day, New Year's Eve, Halloween, Thanksgiving Eve, and Super Bowl Sunday",
	   	"Worcestershire sauce is made from dissolved fish",
	   	"The banana 'tree'is not really a tree, but a giant herb. The banana is the fruit of this herb.",
	   	"Many mass produced ice creams have seaweed in them",
	   	"The largest item on any menu in the world is the roast camel",
	   	"It is estimated that about three billion pizzas are sold in the United States every year.",
	   	"Pumpkins were once recommended for removing freckles and curing snake bites",
	   	"The toxic puffer fish delicacy called Fugu kills about 300 people per year",
	   	"In ancient China and certain parts of India, the meat from a mouse was considered a great delicacy",
	   	"Fast Food Hamburgers are made in huge factories",
	   	"The three dots in the Domino's Pizza logo represent the first three Domino's Pizza stores",
	   	"About half of American adults do not get enough vitamin A, a nutrient needed for healthy skin"])%></h15></center></div>
	<header>